/* header login */

#root {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    height: 13rem;
}

.logoimg {
    max-width: 160px !important;
}

.titlelogin {
    font-size: 1.5rem;
}

/* form signin */

.btnlogin {
    border-radius: 2rem;
    padding: 0.5rem 2rem
}