/* main part style of the admin */

/* image home */

.imagehome {
  width: 100%;
}

/* form style */

.widthform {
  width: 100%;
}

/* add user form */

.errormessage {
  font-size: 0.7rem;
  font-weight: bold;
}

/* addpopup */

.addpopupcontainer {
  position: absolute;
  right: 0;
  left: 0;
  margin: 5% auto;
  width: 100%;
  z-index: 2;
}

/* autocomplete */

.autocomplete {
  left: 0;
  position: absolute;
  right: 0;
  z-index: 3;
}

.listcomplete:hover {
  background-color: #3c94e4;
  color: white;
  cursor: pointer;
}

/* label of forms */

label {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .widthform {
    width: 90%;
  }
}

@media screen and (min-width: 992px) {
  .titlepage {
    font-size: 1.5rem;
  }

  .imagehome {
    width: 75%;
  }

  .widthform {
    width: 100%;
  }

  .addpopupcontainer {
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .widthform {
    width: 85%;
  }
}

@media screen and (min-width: 1400px) {
  .widthform {
    width: 70%;
  }
}