.bar {
    width: 35px;
    height: 5px;
    background-color: #3c8ce4;
    margin: 0.2rem 0;
}

.logoimg {
    max-width: 200px !important;
}

.menulink{
    color: #000;
}

.menulink:hover{
    color: #3c8ce4;
}


@media screen and (min-width : 992px) {
    .bar {
        display: none;
    }

    .w80 {
        width: 80%;
    }

}

@media screen and (max-width : 992px) {
    .nav-bar {
        display: none;
    }
}