/* general */

* {
  font-family: "Spartan", sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

#root{
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* container of all the content */

.containerwidth {
  height: 100%;
}

/* general color */

.color3c8ce4 {
  color: #3c8ce4;
}

.color9cd1ff {
  color: #9cd1ff;
}

.color3c94e4 {
  color: #3c94e4;
}

.color144c84 {
  color: #144c84;
}

.color144c8c {
  color: #144c8c;
}

.color28749c {
  color: #28749c;
}

.bgcolor3c8ce4 {
  background-color: #3c8ce4;
}

.bgcolor9cd1ff {
  background-color: #9cd1ff;
}

.bgcolor3c94e4 {
  background-color: #3c94e4;
}

.bgcolor144c84 {
  background-color: #144c84;
}

.bgcolor144c8c {
  background-color: #144c8c;
}

.bgcolor28749c {
  color: #28749c;
}

/* all icon */

i[class^="ri"] {
  cursor: pointer;
}

/* logo global style */

.logo {
  z-index: 2;
}

/* searchbar */

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}