/* general */

* {
  font-family: "Baloo Thambi 2", cursive;
}

.color3c8ce4 {
  color: #3c8ce4;
}

.color3c94e4 {
  color: #3c94e4;
}

.color144c84 {
  color: #144c84;
}

.color144c8c {
  color: #144c8c;
}

.color28749c {
  color: #28749c;
}
