/* footer */

.titlefooter {
    font-size: 1rem;
}

.footerli {
    font-size: 0.8rem;
}

/* animation csstranstion */

.listfooter-enter {
    opacity: 0;
    transform: scale(0.2);
}

.listfooter-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 400ms, transform 300ms;
}

.listfooter-exit {
    opacity: 1;
    transform: scale(1.05);
}

.listfooter-exit-active {
    opacity: 0;
    transform: scale(0.2);
    transition: opacity 600ms, transform 400ms;
}