/* main front container */

.widthmain {
  width: 100%;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

/* List of product */

.thumbnail-img {
  max-height: 12.5rem;
  max-width: 12.5rem;
}

.product-container,
.listproduct-btn {
  font-size: 0.75rem;
}

.titleannounce {
  margin: 0.3rem 0;
}

/* product */

.thumbnail-img-product {
  cursor: pointer;
}

.main-picture-container {
  height: 20rem;
}

.main-picture {
  max-height: 20rem
}

.list-date {
  font-size: 0.85rem;
}

.number-day {
  font-size: 1.4rem;
}

/* category */

.category-title {
  font-size: 1.5rem;
}

/* login front */

.notregistered-login {
  font-size: 0.75rem;
}

/* my account */

.title-profil {
  font-size: 1.3rem;
}

.container-myaccount {
  min-height: 20rem;
}

.file-picture-profil {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
}

.input-profil {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 0;
  opacity: 0;
}

input[type=file]:hover {
  cursor: pointer;
}

select {
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
}

.date-size{
  font-size: 0.8rem !important;
}

@media screen and (min-width: 576px) {

  .product-container,
  .listproduct-btn {
    font-size: 1rem;
  }

  .listproduct-btn {
    width: 12rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
  }

  .titleannounce {
    margin: 0.3rem 0;
  }

  .product-container,
  .listproduct-btn {
    font-size: 1rem;
  }

  .container-myaccount {
    min-height: 30rem;
  }
}

@media screen and (max-width: 992px) {}

@media screen and (min-width: 1200px) {
  .imgnotfound {
    width: 75%;
  }
}

@media screen and (min-width: 1400px) {
  .widthmain {
    width: 80%;
  }
}